# 语言: None, Cpp, Java, JavaScript, ObjC, Proto, TableGen, TextProto
Language:	Cpp
BasedOnStyle:	Microsoft
# 开括号(开圆括号、开尖括号、开方括号)后的对齐: Align, DontAlign, AlwaysBreak(总是在开括号后换行)
AlignAfterOpenBracket:	Align
# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments:	true
# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations:	true
# 总是在template声明后换行
AlwaysBreakTemplateDeclarations:	true
# 允许排序#include
SortIncludes:	true
# 指针和引用的对齐: Left, Right, Middle
PointerAlignment:	Left